/* google font popins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto+Slab&display=swap');

main{
    margin: 50px 50px;
    display: flex;
    flex-direction: column;
   justify-content: center;
    background-color: #FFFFFF ;
}
body{
    width:1300px;
   
    font-family: 'Poppins', sans-serif;
    margin:50px 100px;
}

.baner{
    width:1300px;
    height: 640px;
    background-color:#161616;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    
}
.head-left{
    color:
    #FFFFFF;
    padding-left: 50px;
    padding-top: 50px;
    font-size: 30px;
}
h5{
    font-size: 16px;
}
a{  
    color: black;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 10px;
    text-decoration: none;
    background-color: coral;
}
.fa-circle-play{
    font-size: 20px;
}
 .head-right img{
   width: 90%;
   height: 80%;
   padding-top: 75px;
   padding-left: 20px;
   
}
.body{
    display: flex;
    flex-direction:row;
}

.body-left{
    width: 300px;
    height: 350px;
    margin-right: 20px;
    
    
}
.catagory{
    margin-top:50px;
    display: flex;
    flex-direction: column;
    padding: 15px 25px;
    background-color: #161616;
    border-radius: 15px;


}
.catagory a{
    padding:0px 10px 0px 10px;
    margin-top: 10px ;
    text-align: center; 

}
.menu-3{
    width:150px;
    height: 30px;
    background-color:#FFFFFF;
}
.maches{
    margin: 50px 0px 50px 50px; 
    padding-right: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
}
.mache{
    border: 2px solid #E8E8E8 ;
    border-radius: 15px;
    margin-bottom:20px;
}
.mache img{
      margin-bottom: 10px;
      height: 175px;
      width: 310px;
      border-top-left-radius:15px;
      border-top-right-radius:15px;
}

.mach-foot{
    display: flex;
    margin-bottom: 15px;
   

     
}
.mach-foot i{
    margin-right: 30px;
     
}
.view-all{
    width: 100px;
    padding-left: 30px;
    margin:0px 0px 30px  350px;
   visibility: hidden;
     
}
footer{
    width: 1300px;
    height: 300px;
    background-color: #161616;
    color:#B9B9B9;
    text-align: center;
    border-radius: 15px;
    
}

.goal{
    padding-top: 50px;
}
hr{
    width: 1000px;
    color: #FFFFFF ;
}
.options{
    margin-top: 15px;
}
.options a{
    background-color: #161616;
    color: #B9B9B9;
}



/* midea query i pad  tablet */

/* tablet device */

@media only screen and (max-width:900px) {
    main{
    width: 800px;
    }
    .baner{
        width:800px;
        height: 450px;
        background-color:#161616;
        
    }
    .head-left{
        color:
        #FFFFFF;
        padding-left: 15px;
        padding-top: 5%;
        font-size: 20px;
    }
    .head-right img{
        width:500px;
        height: 350px;
  }
  
.body{
    
    display: flex;
    flex-direction:column;
     
}
.body-left{
    height: 100px;
    width: 90%; 
    padding-left: 50px;
  
}
.catagory{
    flex-direction: row;
}

.body-left a{
    width:200px;
    margin:5px  5px 5px  10px;
    padding-bottom: 5px;

}
.maches{
     width:100%;
    padding-right:15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap:10px;
    grid-row-gap:10px;
}
.mache{
    width: 80%;
    
}
.mache img{
    margin-bottom: 10px;
    height: 200px;
    width: 100%;
    
    border-top-left-radius:15px;
    border-top-right-radius:15px;
}
.view-all{
    visibility: visible;
}
footer{
    width: 800px;
    height: 250px;
}
hr{
   width: 500px;  
}

}
 
/* movile divice */

@media only screen and  (min-width:350px) and (max-width:600px)  {
    .baner{
        flex-direction: column;
        width:450px;
        height:700px;
    }
    h5{
        font-size: 14px;
        padding-right: 50px;
    }
    .head-right img{
        width: 90%;
        height: 70%;
        padding-top:50px;
}
.body{
    width:480px;
    margin: 0;
    padding: 0;
}
.catagory{
    flex-direction: column;
    width: 300px;
}
.body-left a{
    width:200px;
    margin-left: 10px;
}
.maches{
    margin-left: 0px;
    margin-top: 150px;
    grid-template-columns: repeat(1, 1fr);
} 
.mache{
    width:450px;
    
}
.view-all{
    visibility: visible;
    margin-left: 150px;
}
footer{
    width: 450px;
    height:500px;
}
hr{
    width: 300px;
}
.options{
    width:450px;
    display: flex;
    flex-direction: column;
 
}


}
